@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
  --color-bg-primary: #000000;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #4F46E5;
  --color-bg-card: #ffffff;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #1F2937;
  --color-text-secondary: #4a5568;
  --color-text-accent: #6366F3;
  --color-bg-card: #ffffff;
}


